<nz-input-group [nzSuffix]="suffixTemplate">
  <input #searchInput type="text" nz-input [placeholder]="placeholder" [(ngModel)]="searchWord" (ngModelChange)="changeSearchWord($event)" (keydown.enter)="doSearch(searchInput)">
</nz-input-group>
<ng-template #suffixTemplate>
  <i nz-icon type="close-circle" [theme]="'fill'" class="cp mr8 text-secondary" (click)="doSearch(searchInput, true)" *ngIf="searchWord"></i>
  <i nz-icon type="search" class="cp" (click)="doSearch(searchInput)"></i>
</ng-template>

