<div>
  <div nz-row>
    <div nz-col [nzSpan]="18">
      <app-search (search)="search($event)"></app-search>
    </div>
    <div nz-col [nzSpan]="6" class="tar">
      <nz-button-group>
        <button nz-button [nzType]="'primary'" (click)="add()">新增</button>
        <button nz-button [nzType]="'danger'" (click)="del()" [disabled]="checkedList.length === 0">批量删除</button>
      </nz-button-group>
    </div>
  </div>
  <div class="mt20">
    <app-table
      [tableId]="tableId"
      [columns]="columns"
      [url]="url"
      [isNeedSearchChange]="true"
      (refreshStatusChange)="refreshStatusChange($event)"
      (eventChange)="eventChange($event)"
    ></app-table>
  </div>
</div>
