<!--根据type显示-->
<ng-container *ngIf="type">
  <ng-container *ngIf="type === 'delete'">
    <nz-popover [nzTitle]="'确认删除该数据？'" [nzTrigger]="'click'" [(nzVisible)]="delPopVisible">
      <a nz-popover [class.ml20]="evi !== 0">删除</a>
      <ng-template #nzTemplate>
        <div class="flex-bt mt10">
          <button [nzSize]="'small'" nz-button (click)="handlePopoverValueCancel()">取消</button>
          <button [nzSize]="'small'" nz-button [nzType]="'primary'"
                  (click)="handlePopoverValueOk(col, data, ev)">确定</button>
        </div>
      </ng-template>
    </nz-popover>
  </ng-container>
</ng-container>
<!--根据formatter显示不同的内容-->
<ng-container *ngIf="!type">
  <!--排序-->
  <ng-container *ngIf="col.formatter === 'prize-sort'">
    <span class="table-sort-box">
      <span class="sort-caret sort-up" [class.disabled]="rowIsFirst"><i nz-icon type="caret-up" theme="fill" (click)="sortTo('up')"></i></span>
      <span class="sort-caret sort-down" [class.disabled]="rowIsLast"><i nz-icon type="caret-down" theme="fill" (click)="sortTo('down')"></i></span>
    </span>
  </ng-container>
</ng-container>


