@import "vars";
.to-edge {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.full-screen {
  .to-edge;
  position: fixed;
}
/**
 鼠标划过时图标上移2px
 */
.floating-btn {
  padding: 12px;
  transition: all 0.2s linear;
  cursor: pointer;
  span {
    transition: all 0.2s linear;
  }
  &:hover {
    transform: translate3d(0, -2px, 0);
    span {
      color: @color-danger;
    }
  }
}
.wechat-menu-ul {
  min-width: 180px;
  li.ant-dropdown-menu-item {
    padding: 8px;
    font-size: 14px;
    color: #000;
    .wechat-icon {
      width: 34px;
      height: 34px;
    }
  }
}

.wechat-icon {
  background: url("../../assets/images/wechat/wechat-all.png");
  background-size: 487px 462px;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  &.menu {
    background-position: -434px -398px;
  }
  &.search {
    background-position: -60px -432px;
  }
  &.chat.active {
    background-position: -185px -96px;
  }
  &.chat {
    background-position: -150px -96px;
  }
  &.public.active {
    background-position: -304px -281px;
  }
  &.public {
    background-position: -376px -322px;
  }
  &.friends.active {
    background-position: -304px -246px;
  }
  &.friends {
    background-position: -220px -96px;
  }
  &.close {
    background-position: -400px -304px;
  }
  &.remind.active {
    background-position: -311px -432px;
  }
  &.remind {
    background-position: -401px -357px;
  }
  &.face {
    background-position: -404px -398px;
  }
  &.clip {
    background-position: -30px -432px;
  }
  &.file {
    background-position: -120px -432px;
  }
  &.push-on {
    background-position: -68px -398px;
  }
  &.volume-on {
    background-position: -170px -398px;
  }
  &.feedback {
    background-position: -306px -398px;
  }
  &.quit {
    background-position: -102px -398px;
  }
  &.push-off {
    background-position: -34px -398px;
  }
  &.volume-off {
    background-position: -136px -398px;
  }
  &.refresh {
    background-position: 0 -150px;
  }
  &.wechat {
    background-position: -196px -210px;
  }
}
.import-file-excel {
  color: rgb(90, 204, 155);
}
