<div class="pc-bg">
  <header class="header">
    <i class="wechat-icon wechat"></i>
    <span class="title">{{'wei_xin' | translate}}</span>
    <span class="version">PC{{'ban' | translate}}</span>
    <span class="tag">2.6.6</span>
  </header>
  <h1>
    {{'qun_liao' | translate}}，
    <br>
    {{'ye_neng_shi_pin_liao_tian' | translate}}。
  </h1>
  <button class="btn-download">{{'xia_zai' | translate}}</button>
  <div>
    <p>{{'wei_xin' | translate}}PC{{'ban_guan_fang' | translate}}QQ{{'qun_jiao_liu' | translate}} 145378303</p>
    <p>Copyright © 1998-2018 Tencent All Rights Reserved</p>
  </div>
</div>
